.nav-grid {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content auto;
    height: inherit;
    background-color:whitesmoke;
}

.inner-grid {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content auto;
}
