.new-request-container{
    padding: 20px;
}

.conatiner-1 {
    display: flex;
    padding-top: 10px;
}

.field-item {
    padding: 10px;
}

.load-btn {
    background-color: darkcyan;
    border-width: 1px;
    padding: 2px;
    border-radius: 10px;
    padding-left: 10px;
}

.load-btn:focus {
    outline: none;
    box-shadow: 0 0 10px lightskyblue;
}

.excel-data {
    width: -webkit-fill-available;
    text-align: left;
}
  